html
	font-family sans-serif

	body
		margin 0
		background #eaeaea

		header
			display flex
			flex-flow row nowrap
			align-items center
			justify-content space-between
			background linear-gradient(90deg, #3795e2 0%, #21dea9 100%)
			color #fff
			vertical-align center

			h1
				font-size 8vh
				margin 0 5vw

			div#menu
				margin 1vh 2vw
				display flex
				flex-flow column nowrap

			div.button
				cursor pointer
				margin .5vh 0
				padding 1.2vh 1vw
				background #555
				border-radius .5em
				transition background .2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
				color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94)

				&:hover
					color #98beff
					background #444

				p
					user-select none
					text-align center
					text-decoration underline
					margin 0

		main
			margin 5vh 5vw
			padding 1vh 1vw
			background #fff

			div#main-container
				width fit-content

				table, tr, th, td
					border 1px solid #000
					border-collapse collapse

				th, td
					padding 1vh 1vw
					word-break break-word

				th
					font-weight bold
					background #999
					color #fff
					border 1px solid #000

				tr:nth-child(even)
					background #ddd

		footer
			margin 2vh 0