html {
  color: #fff;
  font-size: 16pt;
  font-family: sans-serif;
}
html body {
  margin: 0;
  background: #3b3940;
  height: 100vh;
}
html body header h1,
html body main h1 {
  margin: 2vh 4vw;
  font-size: 2rem;
}
html body header form,
html body main form {
  margin: 1vh 3vw;
}
html body header input,
html body main input {
  display: block;
}
