html
	color #fff
	font-size 16pt
	font-family sans-serif

	body
		margin 0
		background #3B3940
		height 100vh

		header

		main
			h1
				margin 2vh 4vw
				font-size 2rem

			form
					margin 1vh 3vw

				input
					display block
