doctype html

head
	include head

body
	main
		h1 Welcome to [company name]!
		//iframe(width="560" height="315" src="https://www.youtube.com/embed/NqrKGvQT0eU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		p Video will be here
		h2#form-label Join us today by filling the form below!
		form(action="/join/" method="post")
			label(for="firstname") First name
			input#firstname(type="text" name="firstName" required)
			label(for="lastname") Last name
			input#lastname(type="text" name="lastName" required)
			label(for="email") Your Metropolia email
			input#email(type="email" name="email" value=email disabled required)
			label(for="backup-email") Backup email
			input#backup-email(type="email" name="backupEmail" required)
			label(for="phone") Phone number
			input#phone(type="tel" name="phone")
			label Select your team:
			input#team-e(type="radio" value="embedded" name="team" required)
			label(for="team-e") Embedded team
			br
			input#team-f(type="radio" value="frontend" name="team")
			label(for="team-f") Frontend team
			br
			input#team-b(type="radio" value="backend" name="team")
			label(for="team-b") Backend team
			br
			label(for="cv") Please attach your cv:
			input#cv(type="file" name="cv" required)
			input#submit(type="submit" value="Join!")

	footer
		include footer