doctype html

head
	include head

body
	main
		h2 Check your email
		p.
			We have sent you an email with your application link.
			Please follow it to complete your registration.

	footer
		include footer