doctype html

head
	include head

body
	header
		include header

	main
		div#content-container
			div#status
				h1 Oops!
				h2 Looks like it's a 404 error!
				h3 There is no page here. Please check if the URL you've entered is correct and try again.

	footer
		include footer
