doctype html

html(lang='en')
	head
		title Feedback - Mine Eclipse
		include head

	body
		header
			include header

		main
			div#content-container
				h1 Leave feedback for us
				p Are we doing something wrong? Is there something that could be improved?
					|  We value your feedback, because it helps us to get better.
					|  Please feel free to tell us about your experience on our website.
					|  Thank you for taking your time!
				form(action='/feedback/' method='post')
					label(for='name') Your name
					input#name(type='text' name='name'
					title='Your name' placeholder='John Doe')
					label(for='email') Your email (in case you would like us to contact you)
					input#email(type='email' name='email'
					title='Your email' placeholder='john.doe@example.com')
					label.required(for='message') Your message to us
					textarea#message(name='message' title='Your message to us' required
					placeholder='I enjoyed using this site because ... but ... could be improved.')
					input(type='submit' value='Send' title='Send')
					label.label-info.required-info * Required fields

		footer
			include footer
