p Developed by #[a(href='https://mstefan99.com/') Mikhail Stefantsev] for Mine Eclipse
p
	a(href='mailto:mikhail.stefantsev@outlook.com') Contact
p
	a(href='/feedback') Feedback
p
	a(href='/manage') Manage your data
