p Developed by #[a(href="https://mstefan99.com") MStefan99] for Mine Eclipse
p
	a(href="mailto:mikhail.stefantsev@outlook.com") Contact
p
	a(href="/manage") Manage your data
p= 'Version ' + user_version