- var user_version = 'v0.1.0-beta'
title Apply for Mine Eclipse!
link(rel="stylesheet", type="text/css", href="/style/style.css")
meta(name="viewport", content="width=device-width, initial-scale=1.0")