doctype html

html(lang='en')
	head
		title Join us - Mine Eclipse
		include head

	body
		header
			include header

		main
			div#splash-wrapper
				div#splash
					span#text-left.logo-text.hidden Mine e
					img#logo.hidden(src='/img/me-logo.svg' alt='Mine Eclipse logo')
					span#text-right.logo-text.hidden lipse
				div#welcome-container.hidden
					h1 Apply now!
					h2 Start your journey with Mine Eclipse today!
					a(href='#register') Click here to get started
			div#content-container
				h1#register We're happy to see you!
				h2 Just a few steps first...
				p We need to make sure you are a Metropolia student.
					|  For this, please fill in this very simple form below and we'll get back to you in a moment!
				form(action='/register/' method='post')
					label.required(for='username') Enter your Metropolia email:
					input#username(type='text' name='username' required)
					label#metropolia-domain(for='username') @metropolia.fi
					input(type='submit')
					label.label-info.required-info * Required fields
				a(href='/join') Already registered? Click here!
			script(async type='text/javascript' src='/js/main.js')

		footer
			include footer