doctype html

html(lang='en')
	head
		title= title + ' - Mine Eclipse'
		include head

	body
		header
			include header

		main
			div#content-container
				div#status
					h1= title
					h3= info

		footer
			include footer