ease-in = cubic-bezier(0, 0.6, 0.4, 1)


html
	font-family sans-serif
	font-size 14pt

	body
		margin 0
		height 100%
		overflow hidden
		background url('/img/desktop.jpg') center
		background-size cover
		--window-color #ffffffaa
		--icon-color #ffffff88
		--pane-color #ffffff44
		--shadow-color #00000022
		--light white
		--dark black

		&.dark-theme
			--window-color #000000cc
			--icon-color #cccccc88
			--pane-color #00000066
			--shadow-color #00000022
			--light black
			--dark white

			#settings-panel img, .app-window .header img
				filter invert()

			.app-window .header .icon
				filter brightness(.8)

			#dock .dock-shortcut img
				filter saturate(.8) drop-shadow(0 .3vh .2vh var(--shadow-color))

		noscript
			color #c00 !important
			font-weight bold !important

		header
			position absolute
			left 0
			right 0
			display flex
			flex-flow row nowrap
			justify-content space-between
			align-items center
			padding .2em .5em
			backdrop-filter blur(8px)
			color white
			font-weight bold
			user-select none
			border-radius 0 0 5px 5px
			background var(--pane-color)
			z-index 10
			box-shadow 0 .2vh 1vh var(--shadow-color)
			transition transform .2s 1s ease-in

			&.hidden, &.auto-hide
				transform translateY(-90%)

				&:hover
					transition transform .2s ease-in
					transform none

			.icon
				color var(--light)
				text-decoration none
				cursor pointer

				img
					height 18px
					margin 0 .5em

					&#settings-icon
						filter brightness(10)

		#settings-panel
			position absolute
			top 40px
			right 0
			padding 1em
			margin 1em
			width max-content
			height min-content
			z-index 10
			color var(--dark)
			background var(--window-color)
			border-radius 10px
			user-select none
			backdrop-filter blur(8px)
			box-shadow 0 .2vh 1vh var(--shadow-color)
			transition opacity .2s ease-in,
			transform .2s ease-in

			&.hidden
				pointer-events none
				opacity 0
				transform translateY(-50%)

			.icon-group
				display flex
				flex-flow row nowrap
				justify-content space-around
				margin-bottom .5em

				a
					margin 0 .5em
					display block
					color var(--dark)

					img
						height 2em
						margin 0 .5em

			label
				margin .2em 0
				display inline-block

		main
			height 100vh

			.app-window
				position absolute
				left 50px
				top 50px
				width 750px
				height 500px
				min-width 300px
				min-height 100px
				border-radius 15px
				background var(--window-color)
				overflow hidden
				user-select none
				resize both
				display flex
				flex-flow column nowrap
				backdrop-filter blur(8px)
				box-shadow 0 .5vh 3vh 1vh var(--shadow-color)
				transition opacity .2s ease-in,
				transform .3s ease-in

				&.maximized
					left 0 !important
					top 0 !important
					width 100vw !important
					height 100vh !important
					resize none

				&.minimized
					pointer-events none
					opacity 0
					transform scale(.8) translateY(30%)

				&.animated
					transition opacity .2s ease-in,
					transform .3s ease-in,
					left .3s ease-in,
					top .3s ease-in,
					width .3s ease-in,
					height .3s ease-in

				&.hidden
					pointer-events none
					opacity 0
					transform scale(.9)

				&::-webkit-resizer
					display none

				.header
					width 100%
					height 25px
					padding 0 1em
					flex-shrink 0
					box-sizing border-box
					background var(--window-color)
					display flex
					flex-flow row nowrap
					justify-content space-between
					align-items center

					.title
						font-size 80%
						font-weight bold
						color var(--dark)

					.icon-group
						width 40px
						display flex
						flex-flow row nowrap
						justify-content space-between
						align-items center

						.icon-img
							width 15px
							height 15px
							cursor pointer

						.icon
							width 10px
							height 10px
							border-radius 50%
							cursor pointer

							&.minimize-icon
								background #ee0

							&.maximize-icon
								background #0c0

							&.close-icon
								background #c00

				.content
					flex 1

					iframe
						width 100%
						height 100%
						border none
						user-select auto

		footer
			position absolute
			bottom 0
			left 0
			right 0
			z-index 10
			user-select none
			pointer-events none

			#dock
				max-width max-content
				margin 0 auto
				padding 0 30px
				display flex
				flex-flow row nowrap
				justify-content center
				align-items center
				backdrop-filter blur(8px)
				pointer-events all
				background var(--pane-color)
				border-radius 1em 1em 0 0
				box-sizing border-box
				overflow-y hidden
				transition transform .2s 1s ease-in

				&.auto-hide
					transform translateY(80%)

				&.hidden
					transform translateY(100%)
					transition transform .2s ease-in

				&:hover
					transform none
					transition transform .2s ease-in

				#dock-separator
					width 5px
					height 8vh
					flex-shrink 0
					background var(--icon-color)
					border-radius 2px
					margin 0 2em
					box-shadow 0 .2vh .5vh var(--shadow-color)

				.dock-shortcut
					width 8vh
					height 8vh
					margin 10px 10px
					flex-shrink 0
					background var(--icon-color)
					border-radius 30%
					cursor pointer
					display flex
					justify-content center
					align-items center
					box-shadow 0 .2vh .5vh var(--shadow-color)
					transition filter .1s ease-in,
					background-color .1s ease-in,
					transform .4s cubic-bezier(0, 0.5, 0.5, 1.5)

					&:hover
						filter opacity(.8) brightness(.8)

					&:active
						transform scale(.9)

					&.hidden
						transform translateY(120%)

					img
						width 5vh
						filter drop-shadow(0 .3vh .2vh var(--shadow-color))
