theme-color = #ffc14b
healthy-red = #c00
kinda-gray = #888
background-color = #28282f
background-color-dark = #232329
panel-color = #00000088


html
	color white
	font-size 12pt
	font-family sans-serif
	scroll-behavior smooth

	body
		display flex
		flex-direction column
		min-height 100vh
		margin 0
		background background-color

		.hidden
			display none !important

		a
			font-weight bold
			color white

			&:hover
				color kinda-gray

		header
			height 10vh
			padding 0 5vw
			position fixed
			top 0
			left 0
			right 0
			background panel-color
			display flex
			flex-flow row wrap
			align-items center
			justify-content space-between
			z-index 10

			@media screen and (min-width 768px)
				background none

			a
				display inherit
				align-items inherit

				span
					margin-left .5em

			img
				height 5vh

		main
			margin-top 15vh
			margin-bottom 10vh
			flex 1 0

			.center
				margin 0 auto

			#splash-container
				height 100vh
				width 80vw
				margin 15vh auto 0 auto
				text-align center

				.invisible
					opacity 0

				#splash
					margin 0 auto
					text-align center
					display flex
					flex-flow row nowrap
					justify-content center
					align-items flex-end

					#logo
						display inline-block
						height 4em
						top 1em
						z-index 1
						filter drop-shadow(0 0 10vh theme-color)
						transition transform cubic-bezier(0, 0, 0, 1) 1.5s,
						opacity linear .5s .5s

						&.invisible
							transform translateX(400%) rotate(270deg)

					.logo-text
						white-space nowrap
						font-size 2rem
						display inline-block
						transition transform cubic-bezier(0, 0, 0, 1) 1.7s .8s,
						opacity linear .5s 1.2s

						&.invisible
							&#text-left
								transform translateX(100%)

							&#text-right
								transform translateX(-100%)

					@media screen and (min-width 425px)
						.logo-text
							font-size 3rem

						#logo
							height 6em

					@media screen and (min-width 768px)
						.logo-text
							font-size 4rem

						#logo
							height 8em

					@media screen and (min-width 1024px)
						.logo-text
							font-size 6rem

						#logo
							height 12em

				#welcome-container
					transition opacity linear .5s

					h1, h2, a
						text-align center

					a
						display block

			#content-container
				margin 0 auto
				width 90vw

				@media screen and (min-width 768px)
					width 60vw

				@media screen and (min-width 1024px)
					width 40vw

				h1
					font-size 3rem

				form
					margin-top 5vh
					margin-bottom 5vh

					label
						width 100%
						display inline-block
						margin-top .8em

						&.inline
							display inline

						&.label-info.required-info
							color healthy-red

						&.required:after
							content "*"
							color healthy-red

					input, textarea
						width 100%
						margin-top .2em
						display block
						box-sizing border-box
						border none
						outline none
						background none
						border-bottom 2px solid kinda-gray
						border-radius 0
						color white
						transition border-bottom-color .2s linear

						&:hover
							border-bottom-color white

						&:focus
							border-bottom-color theme-color

						&[type="radio"]
							display inline-block
							width fit-content
							margin .5rem .5rem .5rem 0
							cursor: pointer

						&[type="submit"]
							background none
							color white
							border-bottom-color white
							font-weight bold
							padding .2em .5em
							cursor pointer
							width fit-content

							&:hover
								background white
								color black

						&[type="file"]
							color white
							border-bottom none
							cursor pointer

						&[disabled]
							cursor not-allowed
							color kinda-gray

						&#username
							text-align right
							font-size 1rem

					textarea
						font-family sans-serif
						resize vertical
						height 10rem

					#username, #metropolia-domain
						max-width 50%
						width fit-content
						display inline

				table
					border-collapse collapse

					td
						padding .5em

						.clickable
							text-decoration underline
							cursor pointer

							&:hover
								color kinda-gray

					thead tr
						background panel-color-opaque

					@media screen and (max-width 768px)
						td, tr, th
							display block

		footer
			display flex
			flex-flow row wrap
			justify-content space-between
			background background-color-dark
			padding .5em 0

			p
				margin .5em 2em