doctype html

html(lang='en')
	head
		title Not found - My HR
		include head

	body
		header
			include header

		main
			div.section
				h1 404
				h3 There is no page here. Please check if the URL you've entered is correct and try again.

		footer
			include footer
