doctype html

html(lang=en)
	head
		title About - My HR
		include head

	body
		header
			include header-full

		div#info
			h1 About My HR
			p My HR is a recruitment application developed by
				|  Mikhail Stefantsev exclusively for Mine Eclipse allowing you to
				|  collect, view and manage applications. My HR is designed from the
				|  ground up to be fast, beautiful and, most importantly, secure.
				|  Since My HR runs in any modern browser, you can use My HR on any device
				|  with Internet access. But when using My HR on a laptop or desktop, you
				|  can also open My HR Desktop, an OS-like interface to make your work even 
				|  more productive. In Desktop, you can open many My HR windows
				|  simultaneously and switch between them in the same way you
				|  switch between windows on a PC. Everything you see on this website,
				|  from backend to icons on the website was designed from scratch for My HR.
				|  This is a hard work and an honest review would be much appreciated.
				|  If you find any bugs, please also feel free to report them immediately
				|  so they could be fixed early.
				br
				br
				|  Thank you for your interest in My HR!
				br
				|  I hope you love using it!
				br
				|  Mikhail

		footer
			include footer