doctype html

html(lang="en")
	head
		title Applications - My HR
		include head

	body
		header
			include header-full

		main
			div#main-container
				h1#applications-header Applications
				table
					thead
						tr
							th Status
							th First name
							th Last name
							th Team
							th Info
					tbody#applications-table
				script(type="text/javascript", src="/js/applications.js")

		footer
			include footer