doctype html

html(lang='en')
	head
		title Applications - My HR
		include head

	body
		header
			include header-full

		main
			h1#applications-header Applications
			div#tab-container
				div#tab-all.tab.selected(tabindex='0')
					span All teams
				div#tab-embedded.tab(tabindex='0')
					span Embedded
				div#tab-backend.tab(tabindex='0')
					span Backend
				div#tab-frontend.tab(tabindex='0')
					span Frontend
				div#tab-android.tab(tabindex='0')
					span Android
				div#tab-ios.tab(tabindex='0')
					span iOS
			table.paginated
				thead
					tr
						th Status
						th First name
						th Last name
						th Team
						th Info
				tbody#applications-table
			p#application-count
		script(async type='module', src='/js/console/applications.js')

		footer
			include footer
