doctype html

html(lang='en')
	head
		title Application - My HR
		include head

	body
		header
			include header-full

		main
			h1
				span Application
				img#status-icon.icon.inline-icon.baseline
			div.section
				h2 Actions
				div.section
					div.button-container
						span#star-button.button(title='Save this application and return to it later')
								span#star-text.text Star
								img#star-icon.icon(alt='Star icon' src='/img/star-inactive.svg')
						span#share-button.button(title='Share this application')
							span.text Share
							img.icon(alt='Share icon' src='/img/share.svg')
						span#accept-button.button(title='Accept this application')
							span.text Accept
							img.icon(alt='Accept icon' src='/img/checkmark.svg')
						span#reject-button.button(title='Reject this application')
							span.text Reject
							img.icon(alt='Reject icon' src='/img/cross.svg')
						span#desktop-button.button.desktop-only(title='Open in Desktop')
							span.text Open in Desktop
							img.icon(alt='Share icon' src='/img/desktop.svg')
				h2 Basic info
				div.section
					span.label First name:
					span#first-name
					br
					span.label Last name:
					span#last-name
					br
					span.label Team selected:
					span#team
				h2 Contact info
				div.section
					span.label Metropolia email:
					a#email
					img.icon.inline-icon(src='/img/verification_checkmark.svg' alt='Verification checkmark'
					title='Verified')
					br
					span.label Other email:
					a#backup-email
					br
					span.label Phone:
					a#phone
					br
					span.label Backup phone:
					a#backup-phone
					br
				h2 Other
				div.section
					span.label Links:
					div.section#links
					p.section
						b Note: For security reasons, all links use HTTPS,
							|  even if the original link had an HTTP protocol.
							|  You can see the original protocol above.
					span.label Free form:
					p.section#free-form
					span.label Download CV:
					a#file-link
				h2 Notes
				div.section
					div#note-container
					div#filter-all.button.pressed All notes
					div#filter-shared.button Public notes
					div#filter-private.button Private notes
					div#note-editor
						h3 Add a note
						div#private-button.button.green.pressed Private
						div#shared-button.button.red Public
						textarea#note-textarea(title='Your note here'
							placeholder='What would you like to share?')
						div#note-submit.button.disabled Send
		script(async type='module' src='/js/console/application.js')
		script(async type='module', src='/js/console/notes.js')

		footer
			include footer
