doctype html

html(lang='en')
	head
		title Applications - My HR
		include head

	body
		header
			include header

		main
			h1#applications-header Applications
			form#search-form(action='/console/applications/', method='get')
				img#search-icon.icon(src='/img/search.svg' alt='Search icon')
				input#search-input(placeholder='Search' name='q' required)
				img#search-submit.icon.clickable(src='/img/forward.svg'
					alt='Search submit icon')
			div#tab-container
				div#tab-all.tab.selected
					span All teams
				div#tab-embedded.tab
					span Embedded
				div#tab-backend.tab
					span Backend
				div#tab-frontend.tab
					span Frontend
				div#tab-android.tab
					span Android
				div#tab-ios.tab
					span iOS
			table.paginated
				thead
					tr
						th Status
						th First name
						th Last name
						th Team
						th Info
				tbody#applications-table
			p#application-count
		script(async type='module', src='/js/console/applications.js')

		footer
			include footer
