doctype html

html(lang='en')
	head
		title My HR Desktop
		link(rel='stylesheet' type='text/css' href='/style/desktop.css')
		link(rel='icon' type='image/svg+xml' href='/console/favicon.ico')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		script(async type='module' src='/js/console/main.js')

	body
		header
			a.icon(href='/console/')
				img(src='/img/mh-logo.svg')
			span My HR Desktop
			noscript
				span JavaScript is disabled in your browser.
					|  Desktop will not work.
			div.icon
				img#settings-icon(src='/img/settings.svg')

		div#settings-panel.hidden
			div.icon-group
				a.button(href='/console/logout/' title='Sign out')
					img.icon(src='/img/exit.svg')
				a.button(href='/console/exit/' title='Sign out everywhere')
					img.icon(src='/img/close.svg')
				div.button(title='Settings')#button-settings
					img.icon(src='/img/settings.svg')
				div.button(title='Help')#button-help
					img.icon(src='/img/help.svg')
			input(type='checkbox')#cb-menu
			label(for='cb-menu') Hide menu bar automatically
			br
			input(type='checkbox')#cb-dock
			label(for='cb-dock') Hide Dock automatically

		main
			div#desktop

		footer
			div#dock
				div#dock-shortcut-container.dock-container
				div#dock-separator
				div#dock-icon-container.dock-container

		script(async type='module' src='/js/console/desktop.js')
