doctype html

html(lang='en')
	head
		title Applications - My HR
		include head

	body
		header
			include header

		main
			h1 User feedback
			table.paginated
				thead
					tr
						th Name
						th Email
							th Message
					tbody#feedback-table
		script(async type='module', src='/js/console/feedback.js')

		footer
			include footer