p Made with ❤ by #[a(href="https://mstefan99.com") MStefan99]
p
	a(href="mailto:mikhail.stefantsev@outlook.com")= 'Contact'
p
	a(href="/console/versions")= 'Version ' + console_version
p For internal use only
p Unauthorized use prohibited