p Made with ❤ by #[a(href='https://mstefan99.com/') MStefan99]
p
	a(href='mailto:mikhail.stefantsev@outlook.com') Contact
p
	a(href='/console/versions/') Version
		|
		|
		span#version-number= console_version
p
	a(href='/console/about/') About
p
	a(href='/console/help/') Help
