div.menu-container
	h1
		a(href="/console/") My HR Console

div.menu-container
	a.button(href="/console/stars/") Stars
	a.button(href="/console/settings/") Settings
	a.button(href="/console/logout/") Sign out