div.menu-container
	h1
		a(href='/console/') My HR Console

noscript
	span This website requires JavaScript to function

div.menu-container
	a.button.desktop-only(href='/console/desktop/') Launch Desktop
	a.button(href='/console/settings/') Settings
	a.button(href='/console/logout/') Sign out