- var console_version = 'v0.3.0-beta'
link(rel="stylesheet" type="text/css" href="/style/console.css")
link(rel="icon" type="image/svg+xml" href="/console/favicon.ico")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content="My HR is a fast and convenient app to collect and view" +
	"applications and other forms")
