link(rel='stylesheet' type='text/css' href='/style/console.css')
link(rel='icon' type='image/svg+xml' href='/console/favicon.ico')
link(rel='manifest' href='/console/manifest.webmanifest')
meta(charset='UTF-8')
meta(name='theme-color' content='#3795e2')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='description' content='Developed for Mine Eclipse, My HR is an application ' +
'for viewing, discussing and managing applications submitted for Mine Eclipse.')
