include header-min

noscript
	span JavaScript is disabled in your browser.
		|  This website will not work.

div#search-form
	form(action='/console/applications/', method='get')
		img#search-icon.icon(src='/img/search.svg' alt='Search icon')
		input#search-input(placeholder='Search' name='q')

div.button-container
	a.button.desktop-only(href='/console/desktop/') Launch Desktop
	a.button(href='/console/settings/') Settings
	a.button(href='/console/logout/') Sign out
script(type='module' src='/js/console/main.js')
