h1
	a(href='/console/') My HR

noscript
	span JavaScript is disabled in your browser.
		|  This website will not work.

div
	a.button.desktop-only(href='/console/desktop/') Launch Desktop
	a.button(href='/console/settings/') Settings
	a.button(href='/console/logout/') Sign out