doctype html

html(lang='en')
	head
		title= 'Home - My HR'
		include head

	body
		header
			include header-full

		main
			h1 My HR
			div.section
				h2
					a(href='/console/applications/') All applications
				h2
					a(href='/console/applications/?type=stars') My stars
				h2
					a(href='/console/applications/?type=pending') Pending applications
				h2
					a(href='/console/applications/?type=accepted') Accepted applications
				h2
					a(href='/console/applications/?type=rejected') Rejected applications
		script(type='text/javascript' src='/js/home.js')

		footer
			include footer

