head
	include head

body
	header
		include header-full

	main
		div#main-container
			h1 Received applications
			table#applications-table
				tr
					th First name
					th Last name
					th Team
					th Info
					th More
			script(type="text/javascript", src="/js/applications.js")

	footer
		include footer