doctype html

html(lang='en')
	head
		title Login - My HR
		include head

	body
		header
			include header-min

		div#login-container
			h2 Log in to My HR
			form(action='/console/login/' method='post')
				label.required(for='username') Username
				input.text#username(type='text' name='username'
					title='Your username' required autofocus)
				label.label-status#u-label
				label(for='password') Password
				input.text#password(type='password' name='password'
					title='Your password')
				label.label-status#p-label
				label(for='otp') Authenticator code
				input.text#otp(type='text' name='token'
					title='Your 6-digit authenticator code'
					autocomplete='off')
				label.label-status#otp-label
				input#submit-button(type='submit' value='Log in')
				label.label-info.required-info * Required fields
		script(async type='text/javascript' src='/js/console/login.js')

		footer
			include footer
