doctype html

html(lang='en')
	head
		title Not connected - My HR
		include head

	body
		header
			include header

		main
			div.section
				h1 Not connected
				p Unable to load this page because you currently have no connection or
					|  the server is not working properly. Please check your connection
					|  and try again.

		footer
			include footer