doctype html

html(lang='en')
	head
		title Register - My HR
		include head

	body
		header
			include header-min

		div#login-container
			h2 Register at My HR
			form(action='/console/register/' method='post')
				label.required(for='username') Your username
				input.text#username(type='text' name='username'
					title='Your username' readonly)
				label.required(for='code') Your setup code
				input.text#code(type='text' name='setupCode'
					title='Your setup code' required autofocus)
				label.label-status#sc-label
				label.required(for='password') Your password
				input.text#password(type='password' name='password'
					title='Your password' required)
				label.label-status#pwd-label
				label.required(for='password') Repeat your password
				input.text#password-repeat(type='password' name='passwordRepeat'
					title='Repeat your password' required)
				label.label-status#pwdr-label
				input#submit(type='submit' value='Register')
				label.label-info.required-info * Required fields
				label.label-info Be careful when selecting your password! We do not store your email
					|  which means there is no way to restore lost or forgotten password.
					|  We recommend that you use a password manager to avoid losing access.
		script(async type='text/javascript' src='/js/console/register.js')

		footer
			include footer
