head
	include head

body
	header
		include header-min

	main
		div#login-form
			h2 Register at My HR console
			form#register-form(action="/console/register/" method="post")
				label.required(for="id") Your setup code
				input.text#id(type="text" name="setupCode" required)
				label(for="password") Your password
				input.text.required#password(type="password" name="password"
					pattern=".{8,128}" title="8 or more characters" required)
				label.label-status#pwd-label(for="password-repeat")
				label(for="password") Repeat your password
				input.text.required#password-repeat(type="password" name="passwordRepeat"
					pattern=".{8,128}" title="8 or more characters" required)
				label.label-status#pwdr-label(for="password-repeat")
				input#submit(type="submit" value="Register")
			script(type="text/javascript" src="/js/register.js")

	footer
		include footer