head
	include head

body
	header
		include header-full

	main
		div#main-container
			h1 Settings
			p= 'Your username is: ' + user.username
			form(action="/console/settings/" method="post")
				label(for="password") New password
				input#password(type="password" name="password" required)
				label(for="password-repeat") Repeat new password
				input#password-repeat(type="password" name="passwordRepeat" required)
				input(type="submit" value="Update password")
			if (user.admin)
				a(href="/console/users") Manage users

	footer
		include footer