doctype html

html(lang="en")
	head
		title Settings - My HR
		include head

	body
		header
			include header-full

		main
			div#main-container
				h1 Settings
				h2 Sessions
				div.section
					table
						thead
							tr
								th IP
								th OS / Device
								th Browser
								th Logged in at
						tbody#sessions-table
					a(href="/console/exit") Sign out everywhere
				script(type="text/javascript" src="/js/settings.js")
				h2 User settings
				div.section
					p= 'Your username is: ' + user.username
					form(action="/console/settings/" method="post")
						label(for="password") New password
						input#password(type="password" name="password" required)
						label(for="password-repeat") Repeat new password
						input#password-repeat(type="password" name="passwordRepeat" required)
						input(type="submit" value="Update password")
						label Be careful when selecting your password! We do not store your email
							|  which means there is no way to restore lost or forgotten password.
							|  We recommend that you use a password manager to avoid losing access.
				if (user.admin)
					h2 Admin options
					div.section
						a(href="/console/users") Manage users

		footer
			include footer