doctype html

html(lang="en")
	head
		title Stars - My HR
		include head

	body
		header
			include header-full

		main
			div#main-container
				h1 Your stars
				table
					thead
						tr
							th First name
							th Last name
							th Team
							th Info
							th More
					tbody#applications-table
				script(type="text/javascript", src="/js/stars.js")

		footer
			include footer