doctype html

html(lang='en')
	head
		title Users - My HR
		include head

	body
		header
			include header-full

		main
			h1 My HR users
			table
				thead
					tr
						th Username
						th Admin
						th Setup code
						th 2FA setup done
						th Remove
				tbody#users-table
			h3 Add user
			form
				label(for='username') Username
				input#username(type='text' placeholder='user' name='username' required)
				input#admin(type='checkbox' name='admin')
				label(for='admin') Admin
				input#submit(type='button' value='Add' required)
		script(type='text/javascript' src='/js/users.js')

		footer
			include footer