doctype html

html(lang='en')
	head
		title Versions - My HR
		include head

	body
		header
			include header

		include flash

		main
			h1 Version History
			div.section
				table.paginated
					thead
						tr
							th Version
							th Changelog
					tbody#version-table
			script(async type='module' src='/js/console/history.js')

		footer
			include footer
