doctype html

html(lang='en')
	head
		title Versions - My HR
		include head

	body
		header
			include header-full

		main
			h1 Version History
			table#version-table
				thead
					tr
						th Version
						th Changelog
				tbody
					tr
						td v0.5.1-beta
						td
							p Design update
							p Improved login and registration experience
					tr
						td v0.5.0-beta
						td
							p Added My HR Desktop
					tr
						td v0.4.0-beta
						td
							p Migrated to the new core libraries
					tr
						td v0.3.1-beta
						td
							p Links in applications are now clickable
					tr
						td v0.3.0-beta
						td
							p Filtering improvements
							p Performance overhaul
					tr
						td v0.2.0-beta
						td
							p Added team filtering
					tr
						td v0.1.4-beta
						td
							p Added email sending on accept/reject
							p Security patch
					tr
						td v0.1.3-beta
						td
							p Added accept/reject icons and buttons
							p New home page
					tr
						td v0.1.2-beta
						td
							p Added stars
							p Added share button
							p Added page-specific titles
					tr
						td v0.1.1-beta
						td
							p Added version history
							p Added 404 page
					tr
						td v0.1.0-beta
						td
							p Added session viewer
							p Added version info
					tr
						td v0.0.5-alpha
						td
							p Added user management
					tr
						td v0.0.4-alpha
						td
							p Added settings
					tr
						td v0.0.3-alpha
						td
							p Added application viewer
							p 2FA fixes and improvements
					tr
						td v0.0.2-alpha
						td
							p Added 2-factor authentication
							p Added application preview
					tr
						td v0.0.1-alpha
						td
							p Initial console release
							p Added user authentication

		footer
			include footer